@media (max-width:1100px){
     .container{
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    nav {
        justify-content: space-between;
      }
      .nav-menus {
        /* display: none; */
        position: fixed;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        top:0;
        left: 0;
        bottom: 0;
        width: 100%;
        transition: 0.3s;
      }
      .nav-list{
        text-align: center;
        flex-direction: column;
      }
      .nav-list a{
        display: inline-block;
        font-size: 30px;
        line-height: 50px;
      }
      .close-btn{
        position: absolute;
        top: 35px;
        right: 70px;
      }
      .toggle-btn {
        display: block;
        border: none;
        background-color: transparent;
      }
    #home .row-cards .bottom .card-item h4{
        font-size: 1.1rem;
    }
    #services .container .left{
        width: 60%;
    }
     #contact .card-item{
        width: 30%;
     }
    }